body {
    background-image: linear-gradient(to right, rgb(49, 142, 155), rgb(17, 94, 165));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px 30px 20px 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0);
    box-shadow: 0 0 4px black;
}

.text-h1 {
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 3px white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

label {
    text-align: left;
    font-size: 15px;
    color: white;
    font-weight: 600;
}

.input-user-pass {
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
}

.input-error {
    font-size: 10px;
    color: rgb(255, 0, 0);
    font-weight: 600;
    display: none;
}

.loginBtn {
    color: white;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(21, 109, 192);
    cursor: pointer;
    transition: .2s;
    margin-top: 25px;
}

.loginBtn:hover {
    background-color: rgb(28, 140, 245);
    box-shadow: 0px 2px 0px grey;
}

.loginBtn:active {
    background-color: rgb(17, 87, 153);
    box-shadow: 0 0px 0px grey;
    transform: translateY(2px);
}

.register-link {
    color: rgb(74, 76, 214);
    font-size: 20px;
    padding: 10px 0px 0px 0px;
    transition: .1s;
}

.register-link:hover {
    color: rgb(27, 126, 219);
    text-shadow: 0 0px 0px grey;
}

.register-link:active {
    color: rgb(27, 126, 219);
    text-shadow: 0 0px 0px grey;
    transform: translateY(2px);
}