body,
html {
    padding: 0px;
    margin: 0px;

}

body {
    background-image: url(../assets/page-bg.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.login-registration-bar {
    position:fixed;
    top: 0;
    right: 0px;
    display: flex;
    justify-content: center;
    align-self: right;
    background-color: black;
    box-shadow: 0 0 12px black;
    color: white;
    width: 18.9vw;
    border-bottom-left-radius: 10px;
}

.topBar-button-signup {
    background-color: black;
    color: white;
    border: none;
    padding: 1vw 1.5vw;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 2.2vw;
    border-bottom-left-radius: 10px;
}

.topBar-button-login {
    background-color: black;
    color: white;
    border: none;
    padding: 1vw 1.5vw;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 2.2vw;
}

.business-name {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 3.5vw;
    text-shadow: 0 0 30px rgb(0, 0, 0);
}


.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0 0 8px black;
    margin: 0 50px;
    padding: 0 1vw;
    padding-left: 0vw;
    color: white;
    width: 90vw;
}

.topBar>div>button {
    font-size: 2.2vw;
}

.topBar-button-home {
    background-color: black;
    color: white;
    border: none;
    padding: 1vw 1.5vw;
    cursor: pointer;
    transition-duration: 0.4s;
}


.topBar-button-products {
    background-color: black;
    color: white;
    border: none;
    padding: 1vw 1.5vw;
    cursor: pointer;
    transition-duration: 0.4s;
    height: 100%;
}

.topBar-button-about {
    background-color: black;
    color: white;
    border: none;
    padding: 1vw 1.5vw;
    cursor: pointer;
    transition-duration: 0.4s;
    height: 100%;
    white-space: nowrap;
}

.topBar-button-contact {
    background-color: black;
    color: white;
    border: none;
    padding: 1vw 1.5vw;
    cursor: pointer;
    transition-duration: 0.4s;
    height: 100%;
}

.topBar-button-signup:hover, .topBar-button-login:hover, .topBar-button-contact:hover, .topBar-button-about:hover, .topBar-button-products:hover, .topBar-button-home:hover {
    background-color: white;
    color: black;
}


.topBar-button-search {
    color: grey;
    border: none;
    padding: 0.5vw 1vw;
    cursor: auto;
    width: 20vw;
    font-size: 1.6vw;
    border-radius: 25px;
}

.website-content-text {
    margin: 5vw;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 2vw;
    line-height: 3vw;
    color: whitesmoke;
    text-shadow: 0 0 30px black;


}

@media screen {}