body {
    background-image: linear-gradient(to right, rgb(49, 142, 155) , rgb(17, 94, 165));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 20px 30px;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0);
    box-shadow: 0 0 4px black;
}

.arrow-back {
    color: white;
    padding: 7px 19px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color:  rgb(21, 109, 192);
    cursor: pointer;
    transition: .1s;
    box-shadow: 0px 2px 0px grey;
    margin-top: 30px;
}

.arrow-back:hover {
    background-color:  rgb(28, 140, 245);
}

.arrow-back:active {
    background-color:  rgb(17, 87, 153);
    box-shadow: 0px 0px 0px grey;
    transform: translateY(2px);
}



.text-h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 3px white;
}

h4 {
    font-size: 25px;
    color: white;
    text-align: center;
}

label {
    font-size: 15px;
    color: white;
    font-weight: 600;
}

.input-error {
    font-size: 10px;
    color: rgb(255, 0, 0);
    font-weight: 600;
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    gap: 5px;
}

.inputClass {
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
}

.registerBtn {
    color: white;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    background-color:  rgb(21, 109, 192);
    cursor: pointer;
    transition: .1s;
    margin-top: 25px;
}

.registerBtn:hover {
    background-color:  rgb(28, 140, 245);
    box-shadow: 0px 2px 0px grey;
}

.registerBtn:active {
    background-color:  rgb(17, 87, 153);
    box-shadow: 0 0px 0px grey;
    transform: translateY(2px);
}