body {
    background-image: linear-gradient(to right, rgb(49, 142, 155) , rgb(17, 94, 165));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 20px 30px;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0);
}

.text-h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
}

h4 {
    font-size: 25px;
    color: white;
    text-align: center;
}

label {
    font-size: 15px;
    color: white;
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    gap: 5px;
}

.inputClass {
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
}

.registerBtn {
    color: white;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    background-color:  rgb(17, 94, 165);
    cursor: pointer;
    transition: .2s;
    margin-top: 25px;
}

.registerBtn:hover {
    background-color:  rgb(27, 126, 219);
}